section{
    background: url("image/background@1X.png") no-repeat center center fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: darken;
}
.container {
    width: 1064px;
    height: 768px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #FFFFFF;
   }
a {
    text-decoration: none;
    color: #FFFFFF;
}
header {
    padding: 49px 0 47px 0;
    height: 45px;
}

.logo {
    float: left;
    width: 46px;
    height: 44px;
    margin-right: 15px;

}
.logo-milan{
    text-transform: uppercase;
    float: left;
    text-align: left;
    width: 1px;
}

.logo-text{
    text-transform: uppercase;
    float: left;
    font-size: 29px;
    font-weight: bold;
   }


.contacts {
    float: right;
    width: 243px;
    margin-top: 8px;
}
.email{
    float: right;
}
.tel {
    float: right;
}
.card1,.card4{
    float: left;
    width: 314px;
    height: 244px;
    margin-left: 0;
    text-align: center;
}
.card1-image{
    background: url("image/Layer 21@1X.png");
    width: 307px;
    height: 200px;
    float: left;
margin: 4px 3px 22px 4px;
}

.card-details{

    width: 100%;
    display: inline-block;
    margin: 139px 0 0 0;
    background: transparent;
    color: #FFFFFF;
    opacity: 0;
    }
.from{
    float: left;
    font-size: 10px;
    margin-left: 21px;
    margin-top: 16px;
    width: 0;
}
.price{
    float: left;
    font-size: 20px;
    margin-left: 0;
    margin-top: 31px;
    margin-bottom: 17px;
}
.details{
    float: right;
    font-size: 14px;
    margin-right: 18px;
    margin-top: 35px;
    margin-bottom: 17px;
}
.details::after{
    margin-left: 18px;
    content: '\203A';
}
.card2,.card5{
    float: left;
    width: 314px;
    margin-left: 61px;
    text-align: center;
}
.card2-image{
    background: url("image/Layer 22@1X.png");
    width: 308px;
    height: 200px;
    float: left;
    margin: 4px 3px 22px 3px;
}
.card3,.card6{
    float: left;
    width: 314px;
    margin-left: 61px;
    text-align: center;
}
.card3-image{
    background: url("image/Layer 23@1X.png");
    width: 307px;
    height: 200px;
    float: left;
    margin: 4px 4px 22px 3px;
}
.card4,.card5,.card6{
        margin-top: 54px;

}
.card4-image{
    background: url("image/Layer 24@1X.png");
    width: 307px;
    height: 200px;
    float: left;
    margin: 4px 3px 22px 4px;
}
.card5-image{
    background: url("image/Layer 26@1X.png");
    width: 308px;
    height: 201px;
    float: left;
    margin: 4px 3px 22px 3px;
}
.card6-image{
    background: url("image/Layer 25@1X.png");
    width: 307px;
    height: 201px;
    float: left;
    margin: 4px 4px 22px 3px;
    clear: both;
}
footer{
    display: inline-block;
    padding-top: 61px;
    width: 100%;
    text-align: center;
    font-size: 12px;
}
.logo-main:hover{
     filter: invert(58%) sepia(72%) saturate(5491%) hue-rotate(351deg) brightness(108%) contrast(90%);
    color:#F26522;
}

a:hover{
    color:#F26522;
}

.card1:hover .card-details{
    background: #F26522;
    color: #FFFFFF;
    opacity: 1;
    transition: all 200ms;
}
.card2:hover .card-details{
    background: #F26522;
    color: #FFFFFF;
    opacity: 1;
    transition: all 200ms;
}
.card3:hover .card-details{
    background: #F26522;
    color: #FFFFFF;
    opacity: 1;
    transition: all 200ms;
}
.card4:hover .card-details{
    background: #F26522;
    color: #FFFFFF;
    opacity: 1;
    transition: all 200ms;
}
.card5:hover .card-details{
    background: #F26522;
    color: #FFFFFF;
    opacity: 1;
    transition: all 200ms;
}
.card6:hover .card-details{
    background: #F26522;
    color: #FFFFFF;
    opacity: 1;
    transition: all 200ms;
}

